In [1]:
# One-Way Frequency Table for a Series
import pandas as pd
#Define Series
gender = pd.Series(["Female", "Male", "Male", "Female", "Male",
"Male", "Female","Female","Female", "Female", "Male", "Male",
"Female","Male", "Male", "Female"])
#Find frequencies of each value
gender.value_counts()

Female    8
Male      8
dtype: int64

In [9]:
# One-Way Frequency Table for a DataFrame
import pandas as pd
#Create data
df = pd.DataFrame({'Grade': ['A','A','A','B','B', 'B', 'B', 'C',
'D', 'D'],'Age': [18, 18, 18, 19, 19, 20, 18, 18, 19, 19],
'Gender': ['M','M', 'F', 'F', 'F', 'M', 'M', 'F', 'M', 'F']})
#View the data
print(df)
#Find the frequency of each letter grade
grade = pd.crosstab(index=df['Grade'], columns='count')
print(grade)
#Find the frequency of Age
age = pd.crosstab(index=df['Age'], columns='count')
print(age)
#Find the frequency of each letter gender
gender = pd.crosstab(index=df['Gender'], columns='count')
print(gender)

  Grade  Age Gender
0     A   18      M
1     A   18      M
2     A   18      F
3     B   19      F
4     B   19      F
5     B   20      M
6     B   18      M
7     C   18      F
8     D   19      M
9     D   19      F
col_0  count
Grade
A          3
B          4
C          1
D          2
col_0  count
Age
18         5
19         4
20         1
col_0   count
Gender
F           5
M           5

col_0  count
Age
18       0.5
19       0.4
20       0.1

In [10]:
# Two-Way Frequency Tables for a DataFrame
import pandas as pd
#Create data
df = pd.DataFrame({'Grade': ['A','A','A','B','B', 'B', 'B', 'C',
'D', 'D'],'Age': [18, 18, 18, 19, 19, 20, 18, 18, 19, 19],
'Gender': ['M','M', 'F', 'F', 'F', 'M', 'M', 'F', 'M', 'F']})
pd.crosstab(index=df['Age'], columns=df['Grade'])

Grade  A  B  C  D
Age
18     3  1  1  0
19     0  2  0  2
20     0  1  0  0

In [11]:
import pandas as pd
# Create a Series
numericSeries = pd.Series([8,4,7,3,2,5,1,4,3,7,9,6,2,4,3])
# Apply describe function
numericSeries.describe()

count    15.000000
mean      4.533333
std       2.386470
min       1.000000
25%       3.000000
50%       4.000000
75%       6.500000
max       9.000000
dtype: float64

In [12]:
import pandas as pd
# Create a dataframe
df = pd.DataFrame({'Subject_1_Marks': [14, 42, 21, 12, 45],
'Subject_2_Marks': [32, 43, 23, 50, 21], 'Subject_3_Marks':
[45.0, 34.0, 23.0, 8.0, 21.0],'Names': ['Maina', 'Ayuya',
'Njeri', 'Kiseu', 'Kikwai']})
# Apply the describe function
df.describe()

       Subject_1_Marks  Subject_2_Marks  Subject_3_Marks
count          5.00000         5.000000         5.000000
mean          26.80000        33.800000        26.200000
std           15.64289        12.557866        13.989282
min           12.00000        21.000000         8.000000
25%           14.00000        23.000000        21.000000
50%           21.00000        32.000000        23.000000
75%           42.00000        43.000000        34.000000
max           45.00000        50.000000        45.000000