In [3]:
# Inference on Proportions

In [2]:
# The One Sample Proportion Test
#import proportions_ztest function
from statsmodels.stats.proportion import proportions_ztest
#perform one proportion z-test
proportions_ztest(count=60, nobs=100, value=0.64)
(-0.8164965809277268, 0.41421617824252466)

(-0.8164965809277268, 0.41421617824252466)

In [8]:
# The Binomial Test
import scipy.stats as stats
stats.binomtest(k=6, n=24, p=1/6, alternative='greater')

BinomTestResult(k=6, n=24, alternative='greater', proportion_estimate=0.25, pvalue=0.1995295129479585)

In [19]:
import scipy
print(scipy.__version__)

1.6.2

In [21]:
# The Two Sample Proportion Test
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
count = np.array([110, 33])
nobs = np.array([201229, 200745])
stat, pval = proportions_ztest(count, nobs)
print('{0:0.4f}'.format(pval))

0.0000

In [22]:
#Inference on Means

In [24]:
#The One Sample ùíï Test
import scipy.stats as stats
#define data
data = [136,143,145,141,143,140,136,140,138,138,138,137,138]
#perform one sample t-test
stats.ttest_1samp(a=data, popmean=140)

Ttest_1sampResult(statistic=-0.6820482925847234, pvalue=0.5081597296128026)

In [25]:
#The Two Sample ùíï Test
import scipy.stats as stats
#Define array of turtle weights for each sample
sample1 = [136,143,145,141,143,140,136,140,138,138,138,137,135]
sample2 = [152,149,146,146,147,145,138,140,138,141,139,136,138]
#Perform the two sample t-test
stats.ttest_ind(a=sample1, b=sample2)

Ttest_indResult(statistic=-2.106933072296379, pvalue=0.045761094536692436)

In [26]:
#The Paired Samples ùíï Test
import scipy.stats as stats
#Define before and after max jump heights
before = [22, 24, 20, 19, 19, 20, 22, 25, 24, 23, 22, 21]
after = [23, 25, 20, 24, 18, 22, 23, 28, 24, 25, 24, 20]
#Perform the paired samples t-test
stats.ttest_rel(a=before, b=after)

Ttest_relResult(statistic=-2.5289026942943655, pvalue=0.02802807458682508)

In [27]:
#Analysis of Variance

In [9]:
#One Way ANOVA
import scipy.stats as stats
#Enter exam scores for each group
group1 = [85, 86, 88, 75, 78, 94, 98, 79, 71, 80]
group2 = [91, 92, 93, 85, 87, 84, 82, 88, 95, 96]
group3 = [79, 78, 88, 94, 92, 85, 83, 85, 82, 81]
#perform one-way ANOVA
stats.f_oneway(group1, group2, group3)

F_onewayResult(statistic=2.3575322551335636, pvalue=0.11384795345837218)

In [10]:
#Two Way ANOVA
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

#Create data
df = pd.DataFrame({'water': np.repeat(['daily', 'weekly'], 15),
'sun': np.tile(np.repeat(['low', 'med', 'high'], 5), 2),
'height': [6, 6, 6, 5, 6, 5, 5, 6, 4, 5,6, 6, 7, 8, 7, 3, 4, 4,
4, 5,4, 4, 4, 4, 4, 5, 6, 6, 7, 8]})
#perform two-way ANOVA
model = ols('height ~ C(water) + C(sun) + C(water):C(sun)',data=df).fit()
sm.stats.anova_lm(model, typ=2)

                    sum_sq    df        F    PR(>F)
C(water)          8.533333   1.0  16.0000  0.000527
C(sun)           24.866667   2.0  23.3125  0.000002
C(water):C(sun)   2.466667   2.0   2.3125  0.120667
Residual         12.800000  24.0      NaN       NaN

In [11]:
#Three Way ANOVA
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

#Create DataFrame
df = pd.DataFrame({'program': np.repeat([1, 2], 20),'gender':
np.tile(np.repeat(['M', 'F'], 10), 2),
'division': np.tile(np.repeat([1, 2], 5), 4),'height': [7, 7, 8, 8, 7, 6, 6, 5, 6, 5,5, 5, 4, 5, 4, 3, 3, 4,
3, 3, 6, 6, 5, 4, 5, 4, 5, 4, 4, 3, 2, 2, 1, 4, 4, 2, 1, 1, 2,
1]})
#perform three-way ANOVA
model = ols("""height ~ C(program) + 
C(gender) + C(division) + C(program):C(gender) + C(program):C(division) + 
C(gender):C(division) + C(program):C(gender):C(division)""",
data=df).fit()
sm.stats.anova_lm(model, typ=2)

,sum_sq,df,F,PR(>F)
C(program),3.610000e+01,1.0,6.563636e+01,2.983934e-09
C(gender),6.760000e+01,1.0,1.229091e+02,1.714432e-12
C(division),1.960000e+01,1.0,3.563636e+01,1.185218e-06
C(program):C(gender),2.603857e-29,1.0,4.734286e-29,1.000000e+00
C(program):C(division),4.000000e-01,1.0,7.272727e-01,4.001069e-01
C(gender):C(division),1.000000e-01,1.0,1.818182e-01,6.726702e-01
C(program):C(gender):C(division),1.000000e-01,1.0,1.818182e-01,6.726702e-01
Residual,1.760000e+01,32.0,NaN,NaN

In [12]:
# Repeated Measures ANOVA
import numpy as np
import pandas as pd
from statsmodels.stats.anova import AnovaRM

#Create data
df = pd.DataFrame({'patient': np.repeat([1, 2, 3, 4, 5], 4),
'drug': np.tile([1, 2, 3, 4], 5),'response': [30, 28, 16, 34,
14, 18, 10, 22, 24, 20, 18, 30, 38, 34, 20, 44, 26, 28, 14,
30]})
#perform the repeated measures ANOVA
print(AnovaRM(data=df, depvar='response', subject='patient',within=['drug']).fit())

In [1]:
#Analysis of Covariance
import numpy as np
import pandas as pd
from pingouin import ancova

#Create data
df = pd.DataFrame({'technique': np.repeat(['A', 'B', 'C'], 5),
'current_grade': [67, 88, 75, 77, 85, 92, 69, 77, 74, 88, 96,
91, 88, 82, 80], 'exam_score': [77, 89, 72, 74, 69, 78, 88, 93,
94, 90, 85, 81, 83, 88, 79]})
#View data
print(df)
#perform ANCOVA
ancova(data=df, dv='exam_score', covar='current_grade', between='technique')

   technique  current_grade  exam_score
0          A             67          77
1          A             88          89
2          A             75          72
3          A             77          74
4          A             85          69
5          B             92          78
6          B             69          88
7          B             77          93
8          B             74          94
9          B             88          90
10         C             96          85
11         C             91          81
12         C             88          83
13         C             82          88
14         C             80          79

          Source          SS  DF         F     p-unc       np2
0      technique  390.575130   2  4.809973  0.031556  0.466536
1  current_grade    4.193886   1  0.103296  0.753934  0.009303
2       Residual  446.606114  11       NaN       NaN       NaN

In [13]:
#Regression and Correlation
import pandas as pd
import statsmodels.api as sm
#Create data frame
df = pd.DataFrame({'hours': [1, 2, 2, 4, 2, 1, 5, 4, 2, 4, 4,
3, 6, 5, 3, 4, 6, 2, 1, 2],'exams': [1, 3, 3, 5, 2, 2, 1, 1, 0,
3, 4, 3, 2, 4, 4, 4, 5, 1, 0, 1],'score': [76, 78, 85, 88, 72,
69, 94, 94, 88, 92, 90, 75, 96, 90, 82, 85, 99, 83, 62, 76]})
#define response variable
y = df['score']
#define predictor variables
x = df[['hours', 'exams']]
#add constant to predictor variables
x = sm.add_constant(x)
#Fit a linear regression model
model = sm.OLS(y, x).fit()
#view model summary
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                  score   R-squared:                       0.734
Model:                            OLS   Adj. R-squared:                  0.703
Method:                 Least Squares   F-statistic:                     23.46
Date:                Mon, 10 Apr 2023   Prob (F-statistic):           1.29e-05
Time:                        11:05:36   Log-Likelihood:                -60.354
No. Observations:                  20   AIC:                             126.7
Df Residuals:                      17   BIC:                             129.7
Df Model:                           2
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
const         67.6735      2.816     24.033      0.000      61.733      73.614
hours          5.5557      0.899      6.179      0.000       3.659       7.453
exams         -0.6017      0.914     -0.658      0.519      -2.531       1.327
==============================================================================
Omnibus:                        0.341   Durbin-Watson:                   1.506
Prob(Omnibus):                  0.843   Jarque-Bera (JB):                0.196
Skew:                          -0.216   Prob(JB):                        0.907
Kurtosis:                       2.782   Cond. No.                         10.8
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [8]:
# Categorical Data Analysis
# Chi-Square Test of Independence
import scipy.stats as stats
data = [[120, 40, 90],[110, 45, 95]]
#perform the Chi-Square Test of Independence
stats.chi2_contingency(data)

(0.8640353908896108,
 0.6491978887380976,
 2,
 array([[115. ,  42.5,  92.5],
        [115. ,  42.5,  92.5]]))

In [10]:
#Chi-Square Goodness of Fit Test
import scipy.stats as stats
expected = [50, 50, 50, 50, 50]
observed = [50, 60, 40, 47, 53]
#perform Chi-Square Goodness of Fit Test
stats.chisquare(f_obs=observed, f_exp=expected)

Power_divergenceResult(statistic=4.359999999999999, pvalue=0.3594720674366307)

In [11]:
#Fisher‚Äôs Exact Test
import scipy.stats as stats
data = [[8, 4],
 [4, 9]]
print(stats.fisher_exact(data))

(4.5, 0.11523854393015787)

In [13]:
#McNemar‚Äôs Test
from statsmodels.stats.contingency_tables import mcnemar
data = [[30, 40],
 [12, 18]]
#McNemar's test with no continuity correction
print(mcnemar(data, exact=False))
#McNemar's test with continuity correction
print(mcnemar(data, exact=False, correction=False))

pvalue      0.00018095049043756332
statistic   14.01923076923077
pvalue      0.00010321744149513965
statistic   15.076923076923077

In [14]:
#Non Parametric Inference

In [1]:
#The Sign Test
from statsmodels.stats.descriptivestats import sign_test
data = [136,143,145,141,143,140,136,140,138,138,138,137,138]
sign_test(data, 140)

(-1.5, 0.548828125)

In [2]:
#The Mann-Whitney U Test
import scipy.stats as stats
group1 = [20, 23, 21, 25, 18, 17, 18, 24, 20, 24, 23, 19]
group2 = [24, 25, 21, 22, 23, 18, 17, 28, 24, 27, 21, 23]
#perform the Mann-Whitney U test
stats.mannwhitneyu(group1, group2, alternative='two-sided')

MannwhitneyuResult(statistic=50.0, pvalue=0.21138945901258455)

In [3]:
#The Wilcoxon Signed-Rank Test
import scipy.stats as stats
group1 = [20, 23, 21, 25, 18, 17, 18, 24, 20, 24, 23, 19]
group2 = [24, 25, 21, 22, 23, 18, 17, 28, 24, 27, 21, 23]
#perform the Wilcoxon-Signed Rank Test
stats.wilcoxon(group1, group2)

C:\Users\Muchendu\AppData\Roaming\Python\Python38\site-packages\scipy\stats\_morestats.py:3255: UserWarning: Exact p-value calculation does not work if there are zeros. Switching to normal approximation.
  warnings.warn("Exact p-value calculation does not work if there are "

WilcoxonResult(statistic=10.5, pvalue=0.044065400736826854)

In [4]:
#The Kruskal-wallis Test
from scipy import stats
group1 = [7, 14, 14, 13, 12, 9, 6, 14, 12, 8]
group2 = [15, 17, 13, 15, 15, 13, 9, 12, 10, 8]
group3 = [6, 8, 8, 9, 5, 14, 13, 8, 10, 9]
#perform Kruskal-Wallis Test
stats.kruskal(group1, group2, group3)

KruskalResult(statistic=6.287801578353988, pvalue=0.043114289703508814)

In [6]:
#The Friedman Test
from scipy import stats
group1 = [4, 6, 3, 4, 3, 2, 2, 7, 6, 5]
group2 = [5, 6, 8, 7, 7, 8, 4, 6, 4, 5]
group3 = [2, 4, 4, 3, 2, 2, 1, 4, 3, 2]
#perform Friedman Test
stats.friedmanchisquare(group1, group2, group3)

FriedmanchisquareResult(statistic=13.351351351351344, pvalue=0.0012612201221243594)