In [3]:
# Inference on Proportions

In [2]:
# The One Sample Proportion Test
#import proportions_ztest function
from statsmodels.stats.proportion import proportions_ztest
#perform one proportion z-test
proportions_ztest(count=60, nobs=100, value=0.64)
(-0.8164965809277268, 0.41421617824252466)

(-0.8164965809277268, 0.41421617824252466)

In [17]:
# The Binomial Test
from scipy.stats import binomtest
binomtest(k=6, n=24, p=1/6, alternative='greater')

ImportError: cannot import name 'binomtest' from 'scipy.stats' (C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\__init__.py)

In [19]:
import scipy
print(scipy.__version__)

1.6.2

In [21]:
# The Two Sample Proportion Test
import numpy as np
from statsmodels.stats.proportion import proportions_ztest
count = np.array([110, 33])
nobs = np.array([201229, 200745])
stat, pval = proportions_ztest(count, nobs)
print('{0:0.4f}'.format(pval))

0.0000

In [22]:
#Inference on Means

In [24]:
#The One Sample ùíï Test
import scipy.stats as stats
#define data
data = [136,143,145,141,143,140,136,140,138,138,138,137,138]
#perform one sample t-test
stats.ttest_1samp(a=data, popmean=140)

Ttest_1sampResult(statistic=-0.6820482925847234, pvalue=0.5081597296128026)

In [25]:
#The Two Sample ùíï Test
import scipy.stats as stats
#Define array of turtle weights for each sample
sample1 = [136,143,145,141,143,140,136,140,138,138,138,137,135]
sample2 = [152,149,146,146,147,145,138,140,138,141,139,136,138]
#Perform the two sample t-test
stats.ttest_ind(a=sample1, b=sample2)

Ttest_indResult(statistic=-2.106933072296379, pvalue=0.045761094536692436)

In [26]:
#The Paired Samples ùíï Test
import scipy.stats as stats
#Define before and after max jump heights
before = [22, 24, 20, 19, 19, 20, 22, 25, 24, 23, 22, 21]
after = [23, 25, 20, 24, 18, 22, 23, 28, 24, 25, 24, 20]
#Perform the paired samples t-test
stats.ttest_rel(a=before, b=after)

Ttest_relResult(statistic=-2.5289026942943655, pvalue=0.02802807458682508)

In [27]:
#Analysis of Variance

In [29]:
#One Way ANOVA
from scipy.stats import f_oneway
#Enter exam scores for each group
group1 = [85, 86, 88, 75, 78, 94, 98, 79, 71, 80]
group2 = [91, 92, 93, 85, 87, 84, 82, 88, 95, 96]
group3 = [79, 78, 88, 94, 92, 85, 83, 85, 82, 81]
#perform one-way ANOVA
f_oneway(group1, group2, group3)

F_onewayResult(statistic=2.3575322551335636, pvalue=0.11384795345837218)

In [35]:
#Two Way ANOVA
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

#Create data
df = pd.DataFrame({'water': np.repeat(['daily', 'weekly'], 15),
'sun': np.tile(np.repeat(['low', 'med', 'high'], 5), 2),
'height': [6, 6, 6, 5, 6, 5, 5, 6, 4, 5,6, 6, 7, 8, 7, 3, 4, 4,
4, 5,4, 4, 4, 4, 4, 5, 6, 6, 7, 8]})
#View first ten rows of data
print(df)
#perform two-way ANOVA
model = ols('height ~ C(water) + C(sun) + C(water):C(sun)',data=df).fit()
sm.stats.anova_lm(model, typ=2)

     water   sun  height
0    daily   low       6
1    daily   low       6
2    daily   low       6
3    daily   low       5
4    daily   low       6
5    daily   med       5
6    daily   med       5
7    daily   med       6
8    daily   med       4
9    daily   med       5
10   daily  high       6
11   daily  high       6
12   daily  high       7
13   daily  high       8
14   daily  high       7
15  weekly   low       3
16  weekly   low       4
17  weekly   low       4
18  weekly   low       4
19  weekly   low       5
20  weekly   med       4
21  weekly   med       4
22  weekly   med       4
23  weekly   med       4
24  weekly   med       4
25  weekly  high       5
26  weekly  high       6
27  weekly  high       6
28  weekly  high       7
29  weekly  high       8

                    sum_sq    df        F    PR(>F)
C(water)          8.533333   1.0  16.0000  0.000527
C(sun)           24.866667   2.0  23.3125  0.000002
C(water):C(sun)   2.466667   2.0   2.3125  0.120667
Residual         12.800000  24.0      NaN       NaN

In [34]:
#Three Way ANOVA
import numpy as np
import pandas as pd
import statsmodels.api as sm
from statsmodels.formula.api import ols

#Create DataFrame
df = pd.DataFrame({'program': np.repeat([1, 2], 20),'gender':
np.tile(np.repeat(['M', 'F'], 10), 2),
'division': np.tile(np.repeat([1, 2], 5), 4),'height': [7, 7, 8, 8, 7, 6, 6, 5, 6, 5,5, 5, 4, 5, 4, 3, 3, 4,
3, 3, 6, 6, 5, 4, 5, 4, 5, 4, 4, 3, 2, 2, 1, 4, 4, 2, 1, 1, 2,
1]})
#View first ten rows of DataFrame
print(df)
#perform three-way ANOVA
model = ols("""height ~ C(program) + 
C(gender) + C(division) + C(program):C(gender) + C(program):C(division) + 
C(gender):C(division) + C(program):C(gender):C(division)""",
data=df).fit()
sm.stats.anova_lm(model, typ=2)

    program gender  division  height
0         1      M         1       7
1         1      M         1       7
2         1      M         1       8
3         1      M         1       8
4         1      M         1       7
5         1      M         2       6
6         1      M         2       6
7         1      M         2       5
8         1      M         2       6
9         1      M         2       5
10        1      F         1       5
11        1      F         1       5
12        1      F         1       4
13        1      F         1       5
14        1      F         1       4
15        1      F         2       3
16        1      F         2       3
17        1      F         2       4
18        1      F         2       3
19        1      F         2       3
20        2      M         1       6
21        2      M         1       6
22        2      M         1       5
23        2      M         1       4
24        2      M         1       5
25        2      M         2       4
26        2      M         2       5
27        2      M         2       4
28        2      M         2       4
29        2      M         2       3
30        2      F         1       2
31        2      F         1       2
32        2      F         1       1
33        2      F         1       4
34        2      F         1       4
35        2      F         2       2
36        2      F         2       1
37        2      F         2       1
38        2      F         2       2
39        2      F         2       1

,sum_sq,df,F,PR(>F)
C(program),3.610000e+01,1.0,6.563636e+01,2.983934e-09
C(gender),6.760000e+01,1.0,1.229091e+02,1.714432e-12
C(division),1.960000e+01,1.0,3.563636e+01,1.185218e-06
C(program):C(gender),2.313523e-30,1.0,4.206406e-30,1.000000e+00
C(program):C(division),4.000000e-01,1.0,7.272727e-01,4.001069e-01
C(gender):C(division),1.000000e-01,1.0,1.818182e-01,6.726702e-01
C(program):C(gender):C(division),1.000000e-01,1.0,1.818182e-01,6.726702e-01
Residual,1.760000e+01,32.0,NaN,NaN

In [39]:
# Repeated Measures ANOVA
import numpy as np
import pandas as pd
from statsmodels.stats.anova import AnovaRM

#Create data
df = pd.DataFrame({'patient': np.repeat([1, 2, 3, 4, 5], 4),
'drug': np.tile([1, 2, 3, 4], 5),'response': [30, 28, 16, 34,
14, 18, 10, 22, 24, 20, 18, 30, 38, 34, 20, 44, 26, 28, 14,
30]})
#View first 5 rows of data 
print(df.head())
#perform the repeated measures ANOVA
print(AnovaRM(data=df, depvar='response', subject='patient',
within=['drug']).fit())

   patient  drug  response
0        1     1        30
1        1     2        28
2        1     3        16
3        1     4        34
4        2     1        14
              Anova
==================================
     F Value Num DF  Den DF Pr > F
----------------------------------
drug 24.7589 3.0000 12.0000 0.0000
==================================

In [45]:
#Analysis of Covariance
import numpy as np
import pandas as pd
from pingouin import ancova

#Create data
df = pd.DataFrame({'technique': np.repeat(['A', 'B', 'C'], 5),
'current_grade': [67, 88, 75, 77, 85, 92, 69, 77, 74, 88, 96,
91, 88, 82, 80], 'exam_score': [77, 89, 72, 74, 69, 78, 88, 93,
94, 90, 85, 81, 83, 88, 79]})
#View data
print(df)
#perform ANCOVA
ancova(data=df, dv='exam_score', covar='current_grade', between='technique')

ImportError: cannot import name 'studentized_range' from 'scipy.stats' (C:\ProgramData\Anaconda3\lib\site-packages\scipy\stats\__init__.py)